* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  text-align: center;
  width: 100%;
}

.title {
  font-size: 60px;
  color: slateblue;
}

.title-link {
  text-decoration: none;
}

.casino-wrapper {
  min-height: 250px;
  background-color: rgb(32, 30, 30);
  height: 33%;
  width: 100%;
  border-bottom: 1px solid black;
}

.games {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: slategray;
  font-size: 18px;
}

.game-room-wrapper {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  background-color: rgb(29, 24, 24);
  border-top: 1px dotted white;
}

.game-select {
  padding: 10px;
  margin: 1px;
  background-color: slategray;
  color: whitesmoke;
}

.game-text {
  color: white;
  padding: 10px;
  font-size: 30px;
}

.games-room-higherlower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.games-room-roulette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.roulette-wrapper {
  grid-template-columns: 60px 60px;
  padding: 1px;
  flex-direction: row;
  font-size: 2rem;
}

.roulette {
  color: white;
  font-size: 60px;
}

.chips {
  padding: 2px;
  font-family: monospace;
  font-size: 30px;
  color: green;
}

.player-hand, .computer-hand {
  font-size: 6rem;
  text-align: center;
  pointer-events: none;
}

.player-hand {
  color: rgb(78, 249, 78);
  border: 2px solid white;
}

.computer-hand {
  color: red;
  border: 2px solid white;
}

.higherlower-wrapper {
  grid-template-columns: 60px 60px;
  padding: 1px;
  flex-direction: row;
  font-size: 2rem;
}

.hand-text {
  padding: 5px;
  color: whitesmoke
}

.bet {
  padding: 5px;
  font-size: 20px;
  background-color: slategray;
  color: white;
  margin: 10px;
}

.bet-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results-text {
  padding: 5px;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.placebet {
  padding: 8px;
  border-radius: 6%;
  cursor: alias;
  font-weight: bolder;
  font-size: 16px;
}

.game-render {
  background-color: rgb(32, 30, 30);
  height: 100vh;
}